.menu-name-profil{
    background-color : #00aca9 !important;
}
footer{
    padding :  1%;
    background-color: #f6f6f6; 
    height : 80px; 
    margin-top: 2%;
    color : black !important;
}

.sfooter > a{
    margin : 1%;
    color : black;
    text-decoration: none;
}
#main-search-bar-addon, #second-search-bar-addon, #main-search-xs-bar-addon, #second-search-xs-bar-addon{
    border: 1px solid #313757 !important;
    border-left-color: rgb(49, 55, 87);
    border-left-style: solid;
    border-left-width: 1px;
    background-color: #313757 !important;
}
.navbar-collapse{
    padding-left: 0px !important;
}
.menu-app-top{
    margin-top : 2% !important;
}
.btn-menu-notif .notifications-count, .btn-menu-chat .chatNotifs, .btn-dashboard-dda .coopNotifs{
    border: 3px solid white !important;
    margin-top: 10px;
}
/* 
@font-face{
    font-family: "ss";
    src : url("../font/coeurNumerique/SharpSansNo1-Medium.ttf") format("ttf");
}
@font-face{
    font-family: "sssb";
    src : url("../font/coeurNumerique/SharpSansNo1-Semibold.ttf") format("ttf");
} */
.txt0{
    font-family: "customFont", sans-serif !important;
}
#text-search-menu #dropdown-apps{
    border: 1px solid #dadada !important;
    border-left-color: rgb(218, 218, 218);
    border-left-style: solid;
    border-left-width: 1px;
    background-color: #00aca9 !important;
    color: white !important;
    font-size: 20px;
    padding: 7px 2px;
    width: 10%;
    float: left;
}

.dropdown-menu{
    border : 0px !important;
    padding : 1px 10px;
    margin : -4px 0px;
    border-radius: 0px;
    -webkit-box-shadow:  0 0px 0px rgba(0,0,0,0);
    box-shadow :  0 0px 0px rgba(0,0,0,0);
}

#second-search-bar{
    width : 65% !important;
}
.dropdown-main-menu{
    background-color : white !important;
}

.footer-logo{
    margin-left : 58%;
    display: none !important;
}
.logo-footer{
    width:8%;
    /* background: rgba(255, 255, 255, 0.5);  */
    margin-left : 2%;
}
.nameMenuTop {
    display: none;
    text-decoration : none;

}

.bg-green{
    background-color: #00aca9 !important;
}
.text-green{
    color : #00aca9 !important;
}

.bg-purple{
    background-color : #afca0b !important;
}
.text-purple{
    color : #afca0b !important;
}
.imgMenuTop{
    margin-left: 1%;
}
h1{
    font-size : 30px !important;
}
.logo-footer-co{
    width: 8%;
}
.logo-footer-openaltas{
    width : 17%;
}
.img-photo{
    width:250px;
    height:250px;
}
.tooltips-menu-btn{
    display : none !important;
}
@media (max-width:768px){
    .footer-logo{
        margin-left : 50%;

    }
    .logo-footer{
        width: 20%;
    }
    .dropdown-menu{
        background-color : white !important;
    }
    .dropdownApps-menuTop .dropdown-menu a{
        color : black !important;
    }
    footer{
        padding :  1%;
        background-color: #f6f6f6; 
        height : auto; 
        margin-top: -1%;
    }
    h1{
        font-size : 11px !important;
    }
    .cls-2{
        font-size: 4.1vw !important;
    }
    .logo-footer-co{
        width: 13%;
    }
    .logo-footer-openaltas{
        width : 24%;
    }
}
#social-header{
    background : url("/images/coeurNumerique/logo.png");
}