#filterContainer{
	margin-top:20px;
	margin-bottom: 10px;
}
#filters-nav{
    border-bottom: 0px !important;
}
.central-section .central-container #filterContainer{
    margin-top: 0px;
}
#filterContainer .dropdown, #filters-nav .dropdown{
	float: left;
    display: grid;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}
#filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu{
	padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #6b6b6b;
    color: #6b6b6b;
    top: 0px;
    position: relative;
    border-radius: 20px;
    text-decoration: none;
    background: white;
    line-height: 20px;
}
#filterContainer .dropdown .dropdown-menu, #filters-nav .dropdown .dropdown-menu{
	position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #6b6b6b;
    padding:0px; 
}
#filterContainer .dropdown .dropdown-menu:before , #filters-nav .dropdown .dropdown-menu:before,
#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:before,
#costum-scope-search .dropdown-result-global-search:after{
	bottom: 100%;
    left: 20px;
    margin-top: -20px;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    border-width: 11px;
    position: absolute;
}
#filterContainer .dropdown .dropdown-menu:before, #filters-nav .dropdown .dropdown-menu:before,
#costum-scope-search .dropdown-result-global-search:before{
	border-bottom-color: grey;
    border-width: 12px;
    left: 19px;
}
#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:after{
	border-bottom-color: white;
}
#filterContainer .dropdown .dropdown-menu .list-filters, #filters-nav .dropdown .dropdown-menu .list-filters{
    max-height: 300px;
    overflow-y: scroll;
}
#filterContainer .dropdown .dropdown-menu button, #filters-nav .dropdown .dropdown-menu button{
	border: none;
    background: white;
    /* width: 100%; */
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    padding: 10px 10px;
    padding-left: 15px;
}
#filterContainer .dropdown .dropdown-menu button:hover, #filters-nav .dropdown .dropdown-menu button:hover{
	background-color: #e8e8e8;
}
#filterContainer .dropdown .dropdown-menu button.mainTitle, #filters-nav .dropdown .dropdown-menu button.mainTitle{
    font-weight: 800;
    padding-left: 10px;
}
#filterContainer #input-sec-search, #filters-nav #input-sec-search{
	display: grid;
	margin-bottom: 5px;
	margin-right: 10px;
	float: left;
}
#filterContainer #input-sec-search .input-group, #filters-nav #input-sec-search .input-group{
    display: inline-flex;
}
#filterContainer #input-sec-search .input-group-addon, #filters-nav #input-sec-search .input-group-addon{
	padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #6b6b6b;
    text-align: center;
    background-color: white !important;
    border-right-width: 0px;
    border: 1px solid #6b6b6b;
    border-radius: 20px 0px 0px 20px !important;
    border-right-width: 0px;
    width: 30px;
}
#filterContainer #input-sec-search .input-global-search, #filters-nav #input-sec-search .input-global-search{
	border-left-width: 0px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: none;
    width: inherit;
    border-color: #6b6b6b;
}
#activeFilters .filters-activate{
    border: 2px solid transparent;
    background-color: #50b796;
    margin-right: 5px;
	margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
    display: inline-block;
}
#activeFilters .filters-activate i{
	margin-right: 3px;
}
#filterContainer .labelFilterTit, #filters-nav .labelFilterTit{
	line-height: 45px;
    font-size: 20px;
    margin-right: 15px;
}
#costum-scope-search .dropdown-result-global-search{
	position: absolute;
    top: 60px;
    z-index: 1;
    background-color: white;
    border: 1px solid #6b6b6b;
    max-height: none !important;
    border-radius: 3px;
}
#costum-scope-search .dropdown-result-global-search .content-result{
	height: 390px;
	overflow-y: overlay;
}
@media (max-width: 768px){
	#filterContainer .dropdown, #filters-nav .dropdown, 
    #filterContainer #input-sec-search, #filters-nav #input-sec-search, 
    #filterContainer #input-sec-search .input-global-search, #filters-nav #input-sec-search .input-global-search{
		width: 100%;
	}
}

#filters-nav{
	padding-top: 10px
}