/* Masquage LIVE */

.timeline-heading, .timeline-footer {display: none;}

#formCreateNewsTemp .form-create-news-container  {display: none;}

#noMoreNews .letter-blue {display: none;}


/* Masquage DDA */

.producerfinder, .multiChoicecheckboxSimple, .amendementActivatedcheckboxSimple, .voteActivatedhidden, .majoritytext, .voteAnonymouscheckboxSimple, .voteCanChangecheckboxSimple, .tagstags  {display: none;}


/* FIN des masquages */



#indicators-container .stats-number{
        font-size: 40px;
        font-weight: 800;
    }
    #indicators-container .stats-label{
        font-size: 30px;
    }
    .content-video-home{
        /*padding: 5px 0px 0px 20px;*/
        background-color: black;
    }
    .container-video{
        background-color: black;
        max-height: 450px;
        overflow-y: hidden;
        /*border: 1px solid black;
        padding: 0px 5px !important;
        -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);*/
    }
    .section-home{
        float: left;
        
        margin-top: 20px;

    }
    .section-home-video{
        width: 100%;
    }
    .section-home .fa-caret-down{
        font-size: 56px;
        line-height: 10px;
    }
    #launchVideo{
        background-color: rgba(0,0,0,0.2);
        color: white;
            position: absolute;
    top: 0;
    
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    }
    #launchVideo:hover{
        background-color: rgba(0,0,0,0);
    }
    #launchVideo:hover i{
        font-size: 82px;
        text-shadow: 2px 2px 2px #444, -2px -2px 2px #444, 2px -2px 2px #444, -2px 2px 2px #444;
    }
    #launchVideo i{
        font-size: 80px;
        text-shadow: 2px 2px 0px #444, -2px -2px 0px #444, 2px -2px 0px #444, -2px 2px 0px #444;
        color: white;
    }
    #indicators-container span {
        text-align: center;
    }
     #indicators-container h3{
        text-transform: initial;
     }
    #indicators-container a:hover{
        cursor: pointer;
        text-decoration: none;
    }
    .menu-home{
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        z-index: 1;
        background: #5b2649;
        color: white;
    }
    .menu-home a{
        color: white;
        border-right: 1px solid white;
        padding: 0px 25px;
        font-size: 22px;
    }
    .menu-home a:last-child{
        border:none;
    }
    #start{
        margin-top: 0px;
    }
    .title-section{
        font-size: 30px;
        color: #5b2649;
    }
    .section-home .header-section hr{
        position: absolute;
        border: 2px solid #5b2649;
        bottom: -17px;
        margin-left: 15px;
        width: 5%;
    }
    .section-home .header-section{
        height: 70px;
        margin-bottom: 40px;
        line-height: 70px;
    }
    .btn-redirect-home{
        font-size: 31px;
        border-radius: 20px;
        color: white !important;
        padding: 10px 50px;
        background-color: #5b2649 !important;
    }
    .btn-redirect-home.onBgPurple{
        margin-top: 15px;
        font-size: 20px;
        background-color: white !important;
        color: #5b2649 !important;
        border-radius: 5px;
        padding: 10px 32px;
    }
    .section-home .header-section .btn-redirect-home{
        font-size: 20px;
    /* padding: 5px 30px; */
        position: absolute;
        border-radius: 6px;
        text-transform: uppercase;
        right: 15px;
        bottom: 10px;
    }
    .btn-useit i{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .btn-useit{
        height: 120px;
        width: 49%;
        padding:20px;
    }
    @media (max-width: 767px){
        
        h1, h2, h3, h4, h5, h6 {
            font-size: initial !important;
            /* font-size: 0.9em; */
        }
        .btn-useit h4{
            font-size: 20px !important;
        }
        .btn-useit i{
            margin-bottom: 5px;
        }
    }
   
    .btn-redirect-home:hover .text-orange{
        color: #5b2649 !important;
    }
    .btn-redirect-home .number-btn{
        font-size:35px;
        font-weight: 800: 
    }
    #indicators-container h4{
        margin-top: 40px;
        text-transform: inherit;
    }
    .section-separtor div{
        height:5px;
        padding:0px;
    }
    #actus-pacte .searchEntityContainer{
        min-height: inherit;
    }
    
/*TOOLKIT*/ 

#sub-doc-page .section-home .header-section{
	height: 70px;
    margin-bottom: 10px;
    line-height: 70px;
}
.sub-header-section{
	font-size: 22px;
	color: #ffa200;
}
#sub-doc-page .btn-redirect-home{
    font-size: 22px;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    background-color: #5b2649;
}
#sub-doc-page{
    margin-top: 20px;
}
#sub-doc-page .section-home .header-section .btn-redirect-home{
    font-size: 20px;
    position: absolute;
    border-radius: 6px;
    text-transform: uppercase;
    right: 15px;
    bottom: 10px;
}
#sub-doc-page .section-home .header-section .btn-redirect-home:hover, .btn-redirect-home:hover{
        color: #ffa200 !important;
        background-color: white !important;
        border:2px solid #ffa200;
        text-decoration: none;
        cursor: pointer;
}
.btn-redirect-home.btn-small-orange{
    color: #ffa200 !important;
    background-color: white !important;
    border:2px solid #ffa200;
    font-size: 16px;
    padding: 5px 20px;
}
.content-input-scope-pacte #input-sec-search{
    width: 100%;
}
.content-input-scope-pacte #input-sec-search .shadow-input-header .input-global-search{
    width: 100%;
    padding: 25px;
    text-align: center;
    border-radius: 20px;
}
.content-input-scope-pacte #input-sec-search .shadow-input-header{
    width: 80%;
    margin-left: 10%;
}
.content-input-scope-pacte #input-sec-search .input-group-addon{
    display: none;
}
.content-input-scope-pacte #input-sec-search .dropdown-result-global-search{
    top: 54px;
    border-radius: 20px;
    margin-left: 10% !important;
    width: 80%;
    min-height: 50px;
    padding-top: 20px !important;
}
.content-input-scope-pacte #input-sec-search .dropdown-result-global-search .searchEntity .entityRight .entityName, .content-input-scope-pacte #input-sec-search .dropdown-result-global-search #footerDropdownGS{
    text-align: center;
}
#modalRegister{
    padding: 40px !important;
    background-color: rgba(0,0,0,0.4);
}
#modalRegister .form-register{
    border-radius: 20px;
}
#modalRegister .info-register-form{    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
#modalRegister .info-register-form b{
    color: #fbae55;
}
.btn-social{
    background: white !important;
    color: #5b2649 !important;
    font-size: 30px;
    line-height: 50px !important;
}
.btn-social:hover{
    background: #5b2649 !important;
    color: white !important;
}
.col-footer-step a{
    color: white !important;
    font-size: 19px;
    margin-bottom: 5px;
    text-align: left;
}
.col-footer{
    margin: 30px 0px !important;
}
.navbar-custom {
    padding: 10px 0px;
}
#mainNav .menu-app-top ,#mainNav .navbar-right{
    margin-top: 20px !important;
}
.bodySearchContainer .searchEntity .dateUpdated, .bodySearchContainer .searchEntity .entityCenter, .bodySearchContainer .searchEntity .actionSocialBtn, .bodySearchContainer.faq .searchEntity .container-img-profil, .bodySearchContainer.mesures .searchEntity .container-img-profil{
    display: none;
}
.bodySearchContainer.mesures{
    width: 100%;
    margin-left: inherit;
    padding: 0px;
}
.bodySearchContainer.faq .searchEntityContainer, .bodySearchContainer.mesures .searchEntityContainer{
    width: 95%;
    margin-left: 2.5%;
    float: left;
    display: block;
    min-height: 0px !important;
}

.bodySearchContainer.mesures .main-search-bar{
    border-radius: 20px 0px 0px 20px !important;
}
.preview-file .link-files{
    width: 50%;
    margin-left: 25%;
    font-size: 22px;
    border-radius: 2px;
    color: white !important;
    padding: 8px 10px;
    background-color: #fbae55 !important;
    text-align: -webkit-center;
}
@media (max-width: 767px){
    .preview-file .link-files{
        font-size: 22px;
    }
    .bodySearchContainer.mesures .main-search-bar{
        
    }
}
.bodySearchContainer.mesures .searchEntityContainer.principes{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 5px !important;
    padding-right:0px;
    padding-left: 0px; 
}
.bodySearchContainer.mesures .searchEntityContainer.principes:last-child{
    margin-bottom: 25px;
}
.app-faq .tags-cloud{
    display: none;
}
.bodySearchContainer.mesures .searchEntityContainer.principes .searchEntity{
    background-color: rgba(211, 211, 211, 0.2) !important;
}

.bodySearchContainer.mesures .searchEntity .entityName, #results-candidatures .searchEntity .entityName, .bodySearchContainer.mesures .searchEntity .entityDescription, #results-candidatures .searchEntity .entityDescription{
    margin-bottom: 10px;
    margin-top: 5px;
    overflow: inherit;
    text-overflow: inherit;
    white-space: pre-line;
    text-align: justify;
}
.bodySearchContainer.faq .pageTable, .bodySearchContainer.mesures .pageTable, .bodySearchContainer.faq #footerDropdown, .bodySearchContainer.mesures #footerDropdown{
    display:none !important;
}
.bodySearchContainer.faq .searchEntity .entityName, .bodySearchContainer.mesures .searchEntity .entityName{
    font-size: 20px !important;
    color: #5b2649 !important;
    line-height: 25px;
}
.bodySearchContainer.faq .searchEntity .entityDescription, .bodySearchContainer.mesures .searchEntity .entityDescription{
    line-height: 20px;
    max-height: inherit;
    font-size: 16px;
}
.bodySearchContainer.mesures .searchEntity .tagsContainer{
        margin: 10px 0px;
    float: left;
}
.btn-tags-unik{
    margin-right: 2px;
}
.btn-tags-unik.active{
    background-color: #fbae55 !important;
    color: #5b2649 !important;
}
.bodySearchContainer.mesures .searchEntity .tagsContainer span{
    color: white !important;
    background: #fbae55;
    font-size: 16px;
}
.context-menu-list.context-menu-root{
    display: none !important;
}
#modal-preview-coop .auhtor-poi{
    display: none;
}
.carousel-indicators{display:none;}
.carousel-media {
    margin-bottom: 30px !important;
}
.app-actualites .tags-cloud{
    display:none;
}
.description-preview a, .ressourcePacte .text-explain a{
    text-decoration: underline;
    color: #0090c5;
}
#affix-sub-menu.affix {
    display:none;
}
@media (max-width: 767px) { 
    .content-input-scope-pacte #input-sec-search{
        display: block !important;
    }
}
