.btn-tags-unik {
	margin-right: 5px;
}

.triangle {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #a48d01 50%, #a48d01 100%);
}

#mainNav .navLeft .active, #mainNav .navLeft button:hover{
	background-color: #ffb34d;

}

#mainNav{
	height: 50px;
	padding: 0px;
}

#mainNav .menu-button{
	text-decoration:none;
}

#mainNav .menu-button, #mainNav .btn-menu-connect{
	height: 50px;
}

#mainNav .navbar-nav{
	padding: 5px;
}

#mainNav #navbar .btn-show-mainmenu{
	margin-top: 5px;
}

#mainNav #navbar .menu-name-profil{
	margin-top: 5px;
}
.co3BtnShare.btn-share{
	display: none;

}

.headerSearchTools .btn-open-form{
	background-color: #93C020 !important;
}

 @media (min-width: 768px) {
	.listHeight{
		height: -webkit-fill-available;

	}

	.listContenaire{
		height: 90px;

	}
}
/*#mainNav{
	top: 110px !important;
}*/