@font-face{
	font-family: "mrm";
	src: url("../font/lapossession/MorebiRoundedMediumStencil.otf") format("otf"),
}

.dropdown-result-global-search {
    display: none;
}

#filters-nav{
	top: 55px !important;
}

.menuRight {
    position: absolute !important;
    height: 83% !important;
}

.main-container{
	padding-top: 51px !important;
}

#menuApp{
	display: none;
}

.btn-show-map{
	display: none;
}

.nameMenuTop {
    display: none;
    text-decoration : none;
}

.App-top{
	padding-left: 11%;
}

#text-search-menu #dropdown-apps{
	background-color: grey !important;
}

#menuRight {
    z-index: 1000;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: white;
}

#bandeau{
	margin-top: -5.2%;
}

.nameMenuTop{
	color: white;
}

#pictos{
	margin-top: -40%;
	width: 82%;
	margin-left: 8%;
}

#bandeauOvale{
	margin-top: -38%;
}

#pictoBandeau{
	position: absolute;
	width: 4%;
	margin-left: 12%;
	margin-top: -3.5%;
	z-index: 10;
}

#TextBandeau{
	margin-left: 18%;
	margin-top: -2.1%;
	color: white;
	font-size: 184%;
}

#second-search-bar-addon-possession{
	margin-top: 4.1%;
	position: absolute;
	z-index: 10000;
	cursor: pointer;
	background-color: #ffc64b;
	margin-left: 33vw;
	border-radius: 32px;
	width: 43px;
	height: 40px;
}

#second-search-bar{
	height: 47px;
	z-index: 1;
	margin-left: 1.1vw;
	width: 35.3vw;
	margin-top: 0.4vw;
	border-radius: 31px 31px 31px 31px !important;
}

#searchBar{
    position: absolute !important;
	margin-left: 10%;
	margin-top: 34%;
}

.fa-search {
	margin-top: -2%;
	font-size: 25px;
}

#donation-btn{
	display: none;
}

#show-bottom-add {
    z-index: 1000000000;
}

.img-menuApp{
	margin-top: -1%;
}

#newsstream {
    margin-top: 3%;
}

#menuRight {
    height: 83%;
}

#TextPicto{
	font-size: 1.3vw; 
}

#mapPossession{
	height: 500px;
}

#HexagoneVert{
	margin-top: -10%;
	z-index: 10;
	margin-left: 43%;
	width: 14%;
}

.centered{
	position: absolute;
	top: 24%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	color: white;
}

#bonhomme{
	width: 89%;
	margin-top: 3%;
	margin-left: 7%;
}

.st0{
	fill:none;
	stroke:#95B2BB;
	stroke-width:0.5;
	stroke-miterlimit:10;
	stroke-dasharray:1,3;
}

.st1{
	fill:none;
	stroke:#4F8AA0;
	stroke-width:0.5;
	stroke-miterlimit:10;
	stroke-dasharray:1,3;
}

.st2{
	fill:#FFFFFF;
}

.st3{
	opacity:0.7;
}

.st4{
	fill:#72C4C6;
}

.st5{
	fill:#B4DA9A;
}

.st6{
	fill:none;
	stroke:#95B2BB;
	stroke-width:0.5;
	stroke-miterlimit:10;
}

.st7{
	fill:none;
}

.st8{
	fill:#95C11F;
}

.st9{
	font-family: 'customFont' !important;
}

.st10{
	font-size:8.4926px;
}

.st11{
	font-family: 'customFont' !important;
	fill:#00B2BB;
}

.st12{
	font-family: 'customFont' !important;
}

.st13{
	font-size:18px;
	font-family: 'customFont' !important;
}

.st14{
	fill:#00B2BB;
}

.st15{
	fill:#00817C;
}

.st16{
	fill:#C6C6C5;
}

#textCitoy{
	color: white;
	background-color: #5cbcb0;
	margin-top: -9.3%;
	font-size: 2vw;
}

.titleAsso{
	color: #a2c930;
	position: absolute;
	margin-left: 34.6%;
	margin-top: -12.7%;
	font-size: 2vw;
	background-color: white;
	border-radius: 0px 10px 10px 0px;
	width: 26%;
	text-align: center;
	height: 2.1vw;
	z-index: 1;
}

#textAsso {
    background-color: #a2c930;
    color: white;
    margin-top: -10.3%;
}

#iconeAsso {
    margin-top: -7.4vw;
	margin-left: 27%;
	z-index: 10;
}

#iconesCitoy{
    margin-top: -7vw;
	margin-left: 33%;
	z-index: 10;
}

#HexaActu{
	margin-left: 6%;
	position: absolute;
	z-index: 1;
}

#news-list{
	margin-top: 10%;
}

#BandeauVert{
	margin-top: 3%;
	position: absolute;
	margin-left: 11%;
}

.ContainSection{
	margin-top: -1%;
}

.navbar-custom {
    padding: 2px 0 !important;
}

#menuApp{
	top: 45px;
}

#TitreActua{
	color: white;
	position: absolute;
	margin-left: 15%;
	font-size: 2.6vw;
	margin-top: 3%;
	z-index: 10;
}

#footerPossession{
	margin-left: -19.7%;
	margin-top: -3.1%;
	position: relative;
	z-index: 10000000;
	width: 19.01vw;
}

#dropdown{
	top: 18.9%;
	position: absolute;
	display: none;
	background-color: whitesmoke;
	width: 33%;
	margin-left: 14%;
	z-index: 1000;
}

.titleCitoy {
    color: #5cbcb0;
	position: absolute;
	margin-left: 40.6%;
	margin-top: -11.9%;
	font-size: 2vw;
	background-color: white;
	border-radius: 0px 10px 10px 0px;
	width: 18%;
	text-align: center;
	height: 2vw;
	z-index: 1;
}
@media (max-width: 800px){

	#TextBandeau {
    	font-size: 2vw;
	}

	#affix-sub-menu{
		position: absolute;
	}

	#TitreActua{
		margin-top: 3%;
	}

	.titleCitoy {
	    margin-left: 40.6%;
		margin-top: -11.45%;
		width: 19%;
	}

	.titleAsso {
	    margin-left: 33.6%;
		margin-top: -12.45%;
		width: 28%;
	}

	#footerPossession{
		margin-top: -0.6%;
	}

	#second-search-bar{
		width: 258%;
	}
}