.nodisplay{
	display:none !important;
	}

#newsstream .container-live #formCreateNewsTemp{
	display:none !important;
}

#bibliotheque #galleryPad .panel .panel-body #header-gallery .controls{
	display:none !important;
}

#bibliotheque #galleryPad .panel .panel-body #gallery-container #GridAlbums li .portfolio-item .openFolder .content-info .toolsFolder {
	display:none !important;
}

#bibliotheque #galleryPad .panel .panel-body #gallery-container #Grid li .portfolio-item .tools a:nth-child(2) {
	display:none !important;
}

#bibliotheque #galleryPad .panel .panel-body #gallery-container #Grid li .portfolio-item .checkbox-content{
	display:none !important;
}

#modal-confidentiality .modal-dialog .modal-content .modal-footer button{
	display:none !important;
}


#modal-settings #container-settings-view .modal-footer button{
	display:none !important;
}

.publiccheckboxSimple{
	display: none !important
}

.header-form-create-news > button{
	display: none;
}

.folderfolder > label   {
	display:none;
}	

.folderfolder >  button  {
	display:none;
}

.folderfolder >   span {
	display:none;
}